
<section>
  <h1>An audio visual label & event brand.</h1>
  <h2>fake[dac~] is a Swiss-British platform for algorithmic art, live coding, and computer music, founded by Stephen Monslow (<a href="https://m-onz.net">m-onz</a>) and <a href="https://luissanz.ch">Luis Sanz</a>. It fuses technology and artistic expression to create music and visuals through programming.</h2>
  <br><br>

<h2>Media</h2>
<p>filmed live at <a href="https://www.corsicastudios.com/">Corsica Studios</a></p>
<ul>
<li><a href="https://streamable.com/k0sn3q">innocent</a></li>
<li><a href="https://streamable.com/tw0d0g">obscenity state*</a></li>
<li><a href="https://streamable.com/j6mghl">tyger blue & m-onz</a></li>
<li><a href="https://streamable.com/ybd3cy">collapse</a></li>
<li><a href="https://streamable.com/6cwjxc">elin</a></li>
<li><a href="https://streamable.com/h0531x">ayankoko</a></li>
<li><a href="https://streamable.com/cg4caj">brickwork*</a></li>
<li><a href="https://streamable.com/h8r6l8">ecolagbohrsac2021*</a></li>
</ul>
<p>*extra 3D visuals overlay from fridje</p>
<p>Explore more videos.</p>
<ul>
<li><a href="https://streamable.com/skopmd">digital selves & tramp_bunny</a></li>
<li><a href="https://streamable.com/10253z">ayanoko:set</a></li>
<li><a href="https://streamable.com/upcpsr">tyger blue & m-onz</a></li>
<li><a href="https://streamable.com/jqv0gp">luis sanz:disociación endémica</a></li>
<li><a href="https://streamable.com/p92nid">obscenity state:mokelake</a></li>
<li><a href="https://streamable.com/2eyuih">luis sanz:tzhaxlltzha</a></li>
<li><a href="https://streamable.com/i87vin">ayankoko:golden week</a></li>
<li><a href="https://streamable.com/jkv6yc">ayankoko:showcase</a></li>
</ul>
</section>

<section>
<h2>Media links</h2>
<a href="https://www.youtube.com/@fakedac1344" target="_blank" rel="noreferrer" >youtube</a>   <br>
<a href="https://www.flickr.com/photos/199010021@N06/" target="_blank" rel="noreferrer" >flickr</a> <br>
</section>

<section>
<h2>Music links</h2>
<a href="https://soundcloud.com/fakedac" target="_blank" rel="noreferrer" >soundcloud</a><br>
<a href="https://fakedacrecords.bandcamp.com" target="_blank" rel="noreferrer" >bandcamp</a><br>
</section>

<p>fake[dac~] 2024</p>
